<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <punchout2go_punchout>
      <hyvacompat>
        <rest_store_code></rest_store_code>
        <api_key></api_key>
      </hyvacompat>
    </punchout2go_punchout>
  </default>
</config>
