<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Punchout2Go\HyvaCompat\Block\Forms\Config\Version" type="TradeCentric\Version\Block\Forms\Config\Version">
        <arguments>
            <argument name="helper" xsi:type="object">Punchout2Go\HyvaCompat\Helper\Module</argument>
        </arguments>
    </virtualType>

    <type name="Punchout2Go\HyvaCompat\Model\Transfer\QuoteDataHandlers\Version">
        <arguments>
            <argument name="helper" xsi:type="object">Punchout2Go\HyvaCompat\Helper\Module</argument>
        </arguments>
    </type>	
	
    <type name="Punchout2Go\Punchout\Model\Transfer\QuoteDataPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="purchase_order" xsi:type="object">Punchout2Go\HyvaCOmpat\Model\Transfer\QuoteDataHandlers\Version</item>
            </argument>
        </arguments>
    </type>	
</config>