<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Punchout2Go\HyvaCompat\Block\Forms\Config\Version" type="TradeCentric\Version\Block\Forms\Config\Version">
        <arguments>
            <argument name="helper" xsi:type="object">Punchout2Go\HyvaCompat\Helper\Module</argument>
        </arguments>
    </virtualType>  
</config>